@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Colors:
  Main   Color: #0455BF / RGB: 4,85,191  MAVI
  Second Color: #03658C / RGB: 3,101,140 KOYU MAVI
  Third  Color: #0396A6 / RGB: 3,150,166 KOYU YESIL
  Fourth Color: #04BFBF / RGB: 4,191,191 ACIK YESIL
  Background Color: rgba(3,101,140, .1); acik mavi
*/


  /*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

    /*General Specs*/  
  body{
    min-height: 100vh;
    font-family:'Libre Franklin',sans-serif;   
    font-weight:200;
    color:#000;
    display: flex;
    flex-direction: column;
  }

    /* Headers   */
    h1{
        font-family:'Libre Franklin',sans-serif;   
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #0455BF;
      }
    
      h2{
        margin: 25px 0;
        color:rgb(3,150,166);
        text-align: center;
        font-size: 2.5em;
      }
    
      h3{
        margin-bottom: 7px;
        color: rgb(4,85,191);
        font-size:1.3rem;
      }


  /*Headerbar feature*/
  header{
    background-color: #fff;
    padding: 0 1rem; 
    position:fixed;
    z-index:9999;
    width:100%;
    box-shadow: 0 2px 2px #0455BF;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
  }

  /*Logo default link (a) feature disabled */
  header > a {
    text-decoration: none;
    color:inherit;
  }

  /*Menu items features edited*/
  #menu{
    list-style-type:none;
    letter-spacing: 2px;
  }

  /*Menu items font feature*/
  #menu >li{
    margin-bottom: .7rem;
    font-size:1rem;
    font-weight:bold;
  }

  /* TODO: Menu itemlarini düzeltmen lazim kimi havada kimi asagida*/
  #menu > li:nth-child(1){
    margin-top: .7rem;
  }

  /* Menu link properties */
  #menu a{
    text-decoration: none;
    color:rgba(4,85,191, 1);
  }

  /* Navigation Features */
  nav{
    position: absolute;
    background-color: #fff;
    width:100%;
    left:0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #0455BF;
    display: none;
    top:100%;
  }

  /* Menu show checkedbox */
  #nav-dropdown:checked~nav{
    display:block;
  }

  /* Menu hidden */
  #nav-dropdown{
    display:none;
  }

  /* Menu bar feature */
  .nav-dropdown-label{
    font-size: 2rem;
    color:#0455BF;
  }

  /* Main document section */
  main{
    margin-top:37px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }

  /* Hero section */
  section#hero{
    width:100%;
    background: url('../images/heroo.webp') no-repeat center center / cover;
    height: 650px;
    position: relative;
  }

  div#hero-background{
    position:absolute;
    margin-left: 15px;
    top:75%;
    background-color: rgba(255,255,255, .6);
    border-radius: 8px;
    width:85%;
    padding:10px 10px;
  }

  #hero-background > h2{
    margin:.2em 0;
    font-size: 1.2rem;
    text-align:left;
  }

  /* End of Hero section */


/* About Section */
  section#about{ 
    padding:50px 0;
    background-color: rgba(3,101,140, .1);
  }

  #about-container{
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
  }

  #about-container > div,
  div#about-policy{
    margin:10px 10px;
    background-color: rgba(3,101,140, .2);
    padding:10px 10px;
    border-radius: 10px; 
  }

  div#about-policy:hover{background-color: rgba(242,62,46, .3);}

    #about-policy > h4,
    div.about-box > h4
    {color:#04bfbf;}

  .about-box>p,
  #about-policy>p{
    margin-top:10px;
    line-height: 26px;
  }

  span#markdo, 
  span#markvision{
    color: #F4DA00;
    font-weight:bold;
    text-decoration-line: underline;
    background-color: #84b4f3;
  }
  /* End of About Section */




/* Benefits section*/
  section#benefits{
    position: relative;
    padding-bottom:50px;
  }

  #benefits-header{
    padding-top:50px;
    padding-bottom:25px;
  }

  div#benefits-container{
    display:flex;
    flex-direction: column;
    padding:5px 15px;
  }

  .benefits-detail{
    margin: 10px 0;
    padding:10px 0;
    border:2px solid rgba(4,85,191);
    border-radius:5px;
  }

  .benefits-detail > summary{
    list-style-position: inside;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight:600;
    cursor:pointer;
    color:rgb(3,150,166);
  }

  .benefits-detail>p{
    margin:10px 0;
    text-align:justify;
    padding:0 20px;
    font-weight:400;
  } 

  .benefits-detail>ul{padding-left:12px;}

  .benefits-detail li{
    list-style-type:none;
    padding-left:15px;
    font-weight:bold;
    margin-bottom:5px;
  } 

  .benefits-detail>summary::marker{
    color: #0455BF;
    font-size: 1.2em;
    
}
/* End of benefits */

/* Types Section */
section#types{
    position: relative;
    padding-bottom:50px;
    background-color: rgba(3,101,140, .1);
  }

  
  #types-header{
    padding-top:50px;
    padding-bottom:25px;
  }

  div#swimming-types{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
  }

  .swimming-type{
    margin:15px 15px;
    text-align: center;
  }

  .swimming-type>a:link{
    text-decoration: none;
    color:#0455BF;
  }

  .swimming-type img{
    border-radius: 25%; 
    width:160px; 
    height:160px;
    border: 2px solid #000;
  }

  .type-content{
    position:relative;
    /* This is belt effect
    margin:15px 0px; */
  }

  div.space{
    background-color: rgba(3,101,140, .1);
    width:100%;height:50px;
  }

  .type-content>h4{
    padding-top: 40px;
    font-weight:bold;
    color:rgba(4,85,191, 1);
    font-size:2rem;
    text-align:center;
    background-color: #fff;
  }
  .content{
    display:flex;
    flex-direction: column;
    padding:10px 10px;
    background-color: #fff;
  }
  .content-image{
    padding: 10px;
    width:100%;
  }
  .content-text{
    padding: 10px;
    width:100%;
  }
  .content-text>hr{
    margin: 10px;
    border:2px dotted black;
    width:90%;
  }
  .content-image>img{
    border-radius:5px;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2), 2px 2px 2px 2px rgba(0, 0, 0, 0.19);
    width:100%;
  }

  .content-text>p{
    padding: 10px 10px;
    
  }


    section#contact{
    width: 100%;
    }

    div#video-container{
        width: 100%;
        z-index: 0;
        top:0px;
        left:0px;
        position:relative;
    }

    video {
        height: 600px;
        width: 100%;
        object-fit: cover;
    }


    div#contact-outer{
        position: relative;
        /*Desktopda  top:-500px;*/
        top: -50px;
        z-index:99;
    }

    div#contact-flex-container{
       
        position:absolute;
        top:-550px;
        width:85%;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding:0px 40px;
    }
 
    div#contact-details-container{
        width:50%;
        background-color: white;
        padding:10px 10px;
        border-radius: 10px;
        margin:10px 10px;
        height: 450px;
    }

    div#contact-form-container
    {
        width:50%;
        background-color: white;
        padding:10px 10px;
        border-radius: 10px;
        margin:10px 10px;
        height:450px;
    } 




  footer{
    background-color: rgba(3,101,140, .2);
    border-top: 1px solid black;
  }

  footer > ul{
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    padding: 5px 10px;
  }

  #social{
    list-style-type: none;
  }


  /*Tablet screeens*/
  @media screen and (min-width:768px) {
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width:fit-content;
        padding-right: 1rem;
    }

    #menu{
        display: flex;
        align-items: baseline;
    }

    #menu > li {padding-left:1rem;}

    #menu a {
        font-weight: 600;
    }

    .nav-dropdown-label{display:none;}

    header{
        background-color: #fff;
    }

    #logo{
        font-size:240%;
        padding: 0.5rem 0.5rem;
    }

    main{
        margin-top:55px;
        display: flex;
        flex: 1 0 auto;
      }

 
    section#about{
        padding:65px 0; 
      }
      
  #about-container{
    display: flex;
    flex-direction: row;
    padding: 50px 10px;
   
  }

div.type-content>h4{
     padding-top:70px;
 }

  /*Satirin ayarlanmasi*/
  .content{
    display:flex;
    flex-direction: row;
    padding:10px 10px;
    background-color: #fff;
  }

      footer > ul{
        display: flex;
        justify-content: space-around;
        font-size: 3rem;
        padding: 5px 10px;
      }
  }

  /*Desktop Screens*/
  @media screen and (min-width:992px){
    #menu a:hover{
        border-bottom: 1px solid #0455BF;
    }

    #menu > li:hover{
        color: rgba(242,62,46, .5);
    }

    section#hero{
        width:100%;
        background: url('../images/heroo.webp') no-repeat center center / cover;
        height: 650px;
        position: relative;
      }
    
      div#hero-background{
        width:55%;
      }

    main{
        margin-top:55px;
        display: flex;
        flex: 1 0 auto;
      }
  }
