@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500;600&display=swap');

/* Colors:
  Main   Color: #0455BF / RGB: 4,85,191
  Second Color: #03658C / RGB: 3,101,140
  Third  Color: #0396A6 / RGB: 3,150,166
  Fourth Color: #04BFBF / RGB: 4,191,191
  Fifth  Color: #F23E2E / RGB: 242,62,46
*/


  /*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

    /*General Specs*/  
  body{
    min-height: 100vh;
    font-family:'Yanone Kaffeesatz',sans-serif;   
    color:#000;
    display: flex;
    flex-direction: column;
  }

  /*Headerbar feature*/
  header{
    background-color: #fff;
    padding: 0 1rem; 
    position:fixed;
    z-index:9999;
    width:100%;
    box-shadow: 0 2px 2px #0455BF;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
  }

  /*Logo Settings*/
  h1{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0455BF;
    padding-top: 5px;
    font-weight: bold;
  }

  /*Logo default link feature disabled*/
  header > a {
    text-decoration: none;
    color:inherit;
  }

  /*Menu items setted*/
  #menu{
    list-style-type:none;
    letter-spacing: 4px;
    font-size:110%;
  }

  #menu >li{
    margin-bottom: .7rem;
    font-size:1.3rem;
    font-weight:bold;
  }

  #menu > li:nth-child(1){
    margin-top: .7rem;
  }

  #menu a{
    text-decoration: none;
    color:#F23E2E;
  }


  nav{
    position: absolute;
    background-color: #fff;
    width:100%;
    left:0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #0455BF;
    display: none;
    top:100%;
  }

  #nav-dropdown:checked~nav{
    display:block;
  }

  #nav-dropdown{
    display:none;
  }

  .nav-dropdown-label{
    font-size: 2rem;
    color:#0455BF;
  }

  main{
    margin-top:37px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }

  section#hero{
    width:100%;
    background: url('../images/heroo.webp') no-repeat center center / cover;
    height: 650px;
    position: relative;
  }

  div#hero-text{
    position:absolute;
    margin-left: 15px;
    top:75%;
    background-color: rgba(255,255,255, .6);
    border-radius: 8px;
    width:75%;
    padding:10px 10px;
  }

  #hero-text > h2{
    margin:.2em 0;
  }

  #about-container{
    display: flex;
    flex-direction: column;
   
  }

  #about-container h3{
    font-size: 3rem;
    color:#f23e2e;
    padding:45px 45px;
    align-items: center;
  }

  .about-box > h4{
    color:#04bfbf;
font-size:30px;
  }

  .about-box > p{
    font-size:24px;
    margin-top:10px;
    line-height: 26px;
  }

  /*Select sibling items*/
  #about-container > div{
    margin:10px 10px;
    background-color: whitesmoke;
    padding:10px 10px;
    border-radius: 10px;
    
  }

  footer{
    background-color: rgba(3,101,140, .2);
    border-top: 1px solid black;
  }

  footer > ul{
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    padding: 5px 10px;
  }

  #social{
    list-style-type: none;
  }


  /*Tablet screeens*/
  @media screen and (min-width:768px) {
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width:fit-content;
        padding-right: 1rem;
    }

    #menu{
        display: flex;
        align-items: baseline;
    }

    #menu > li {padding-left:1rem;}

    .nav-dropdown-label{display:none;}

    header{
        background-color: #fff;
    }

    #logo{
        font-size:240%;
        padding: 0.5rem 0.5rem;
    }

    main{
        margin-top:55px;
        display: flex;
        flex: 1 0 auto;
      }

      div#hero-text{
        width:85%;
      }


      div#hero-text > h1,
      div#hero-text > h2{
        font-size: 2rem;

      }

      footer > ul{
        display: flex;
        justify-content: space-around;
        font-size: 3rem;
        padding: 5px 10px;
      }
  }

  /*Desktop Screens*/
  @media screen and (min-width:992px){
    #menu a:hover{
        border-bottom: 1px solid #0455BF;
    }

    #menu > li:hover{
        color: rgba(242,62,46, .5);
    }

    main{
        margin-top:55px;
        display: flex;
        flex: 1 0 auto;
      }
  }
