@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Colors:
  Main   Color: #0455BF / RGB: 4,85,191  MAVI
  Second Color: #03658C / RGB: 3,101,140 KOYU MAVI
  Third  Color: #0396A6 / RGB: 3,150,166 KOYU YESIL
  Fourth Color: #04BFBF / RGB: 4,191,191 ACIK YESIL
  Background Color: rgba(3,101,140, .1); acik mavi
*/

  /* #region Mobile - Galaxy Fold */

    /* #region Reset CSS */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html{
        scroll-behavior: smooth;
    }
    /*#endregion*/

    /* #region body specs*/  
    body{
        min-height: 100vh;
        font-family:'Libre Franklin',sans-serif;   
        font-weight:200;
        color:#000;
        display: flex;
        flex-direction: column;
      }
      /* #endregion */

    /* #region Headers */
    h1{
        font-family:'Libre Franklin',sans-serif;   
        text-transform: uppercase;
        letter-spacing: 2px;    
        color: #0455BF;
        }
    h2{
        margin: 25px 0;
        color:rgb(3,150,166);
        text-align: center;
        font-size: 2.5em;
    }
    h3{
        margin-bottom: 7px;
        color: rgb(4,85,191);
        font-size:1.3rem;
    }
    /*#endregion


  /*Headerbar feature*/
    
    /* #region Header Section */
    header{
    background-color: #fff;
    padding: 0 1rem; 
    position:fixed;
    z-index:999;
    width:100%;
    box-shadow: 0 2px 2px #0455BF;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
  }

  /*Logo default link (a) feature disabled */
    header > a {
    text-decoration: none;
    color:inherit;
  }
  /* #endregion */

    /* #region Menu and items*/
    #menu{
        list-style-type:none;
        letter-spacing: 4px;
    }

    /*Menu items font feature*/
    #menu>li{
        margin-bottom: .7rem;
        font-size:1rem;
        font-weight:600;
    }

    /* Menu link properties */
    #menu a{
        text-decoration: none;
        color:rgba(4,85,191, 1);
    }

    /* Navigation Features */
    nav{
        position: absolute;
        background-color: #fff;
        width:100%;
        left:0;
        padding: 0 1rem;
        box-shadow: 0 2px 2px #0455BF;
        display: none;
        top:100%;
    }

    /* Menu show checkedbox */
    #nav-dropdown:checked~nav{
        display:block;
    }

    /* Menu hidden */
    #nav-dropdown{
        display:none;
    }

    /* Menu bar feature */
    .nav-dropdown-label{
        font-size: 2rem;
        color:#0455BF;
        /* I fixed position, because Page insight CLS issue  */
        position:absolute;
        right:10px;
    }

    /* #endregion */

    /* #region Main document section */
    main{
        margin-top:37px;
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
    }
    /* #endregion */

    /* #region Hero section */
    section#hero{
        width:100%;
        background: url('../images/hero_mini.webp') no-repeat center center / cover;
        height: 650px;
        position: relative;
    }

    div#hero-text-background{
        position:absolute;
        margin-left: 15px;
        top:75%;
        background-color: #fff;
        border-radius: 8px;
        width:85%;
        padding:10px 10px;
    }

    #hero-text-background > h2{
        margin:.2em 0;
        font-size: 1.2rem;
        text-transform : uppercase;
        text-align:left;
        color:rgba(0, 0, 0, 0.7);
    }
    /* #endregion */

    /* #region About Section */
    section#about{ 
        padding:50px 0;
        background-color: rgba(3,101,140, .1);
    }

    #about-container{
        display: flex;
        /* For mobile device */
        flex-direction: column;
        padding: 50px 10px;
    }

    #about-container > div,
    div#about-policy{
        margin:10px 10px;
        background-color: rgba(3,101,140, .2);
        padding:10px 10px;
        border-radius: 10px; 
    }

    /* I used a hover effect to attract attention */
    div#about-policy:hover{
        background-color: rgba(242,62,46, .3);
    }

    .about-box>p,
    #about-policy>p{
        margin-top:10px;
        line-height: 26px;
    }

    .mark{
        color: #000;
        font-weight:bold;
        background-color: #84b4f3;
    }
  /* #endregion*/

    /* #region Benefits section*/
    section#benefits{
        position: relative;
        padding-bottom:50px;
    }
    #benefits-header{
        padding-top:50px;
        padding-bottom:25px;
    }
    div#benefits-container{
        display:flex;
        /* For mobile devices */
        flex-direction: column;
        padding:5px 15px;
    }
    /* I want to show Benefits like accordion tabs */
    .benefits-detail{
        margin: 10px 0;
        padding:10px 0;
        border:2px solid rgba(4,85,191);
        border-radius:5px;
    }
    .benefits-detail > summary{
        list-style-position: inside;
        list-style-type: armenian;
        margin-left: 10px;
        padding: 10px 15px;
        border-radius: 5px;
        font-weight:800;
        font-size:1.2rem;
        cursor:pointer;
        color:#01616c;
    }
    .benefits-detail>p{
        margin:10px 0;
        text-align:justify;
        padding:0 20px;
        font-weight:500;
    } 
    .benefits-detail>ul{
        padding-left:12px;
    }
    .benefits-detail li{
        list-style-type:disc;
        padding-left:15px;
        font-weight:bold;
        margin-bottom:5px;
    } 
    .benefits-detail>summary::marker{
        color: #0455BF;
    } 
/* #endregion */

    /* #region Types Section */
    section#types{
        position: relative;
        padding-bottom:50px;
        background-color: rgba(3,101,140, .1);
    }
    #types-header{
        padding-top:50px;
        padding-bottom:25px;
    }
    div#swimming-types{
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        align-items: center;
        justify-content: space-around;
    }
    .swimming-type{
        margin:15px 15px;
        text-align: center;
    }
    .swimming-type>a:link{
        text-decoration: none;
        color:#0455BF;
    }
    .swimming-type img{
        border-radius: 5%; 
        width:250px; 
        height:167px;
        border: 2px solid #000;
    }
    .type-content{
        position:relative;
        /* This is belt effect
        margin:15px 0px; */
    }
    div.space{
        background-color: rgba(3,101,140, .1);
        width:100%;height:50px;
    }
    .type-content>h4{
        padding-top: 40px;
        font-weight:bold;
        color:rgba(4,85,191, 1);
        font-size:2rem;
        text-align:center;
        background-color: #fff;
    }
    .content{
        display:flex;
        /* For mobile view */
        flex-direction: column;
        padding:10px 10px;
        background-color: #fff;
    }
    .content-image{
        padding: 10px;
        width:100%;
    }
    .content-image>img{
     /* For resulotion width */
        height:250px;
    }
    .content-text{
        padding: 10px;
    }
    .content-text>strong{
        color:rgb(3, 150, 166);
        font-size: 1.4rem; 
        font-weight: 700;
    }
    .content-text>h4{
        color:rgb(4, 191, 191);
        font-size: 20px; 
        font-weight: 500;
        margin-top: 10px;
    }
    .content-image>img{
        border-radius:5px;
        border: 1px solid #000;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2), 2px 2px 2px 2px rgba(0, 0, 0, 0.19);
        width: 100%; 
        margin-bottom: 10px;
    }
    /* For anchor links to swimming types. */
    .backTypes{
        text-decoration: none;
        font-weight: bold;
        color:rgba(4,85,191, 1);
    }
    .content-text>p{
        padding: 10px 10px;
    }
    /* #endregion */

    /* #region Contact Section */
    section#contact{
        width: 100%;
        position:relative;
    }
    div#video-container{
        width: 100%;
        top:0px;
        left:0px;
    }
    video {
        height: 600px;
        width: 100%;
        object-fit: cover;
    }
    div#form-container{
        position: absolute;
        top:35%;
        bottom:20%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
   }
   div#contact-form {
        background-color: rgba(255,255,255, .8);
        padding: 5px;
        text-align: center;
        max-width:100%;
        margin:5px;
    
    }
    label{
        float:left;
        padding-left: 10px;
        color:rgba(4,85,191, 1);
        font-weight:bold;
        margin-bottom: 3px;
    }
    fieldset{
        width:95%;
        align-self: center;
        margin-bottom: 10px;
        padding:5px;
    }
    legend{
        font-weight:bold;
        color:rgb(3,150,166);
    }
    .text-input {
        width: 90%;
        border: 1px solid #000;
        padding: 3px;
        margin: 3px 0 10px 0;
        height: 25px;
        color:rgb(3,150,166);
    }
    /* For input text placeholder color */
    ::placeholder{
        color:rgb(3,150,166);
    }
    textarea {
        border: 1px solid white;
        padding: 10px;
        margin-top: 5px;
        width: 90%;
        height: 90px;
        color:rgb(3,150,166);
    }
    select{
        width:90%;
        border:1px solid #000;
        margin: 5px;
        height: 25px;
        color:rgb(3,150,166);
    }
    .submit-button {
        padding: 5px 5px;
        background-color: #fff !important;
        font-size: 1.1rem;
        border-radius: 5px;
        color: rgb(4,85,191);
        border: 1px solid rgb(4,85,191);
        display: block;
        margin: 5px auto;
        width:80%;
    }
    .contribute-button:hover {
        background-color: #ccd0cf;
        cursor: pointer;
    }
    /* #endregion */

    /* #region Footer Section*/
    footer{
    text-align: center;
    }
    footer > ul{
        display: flex;
        justify-content: space-evenly;
        margin:20px 0px;   
    }
    #social{
        list-style-type: none;
    }
    #social i{
        font-size: 1rem;
        color:rgb(4,85,191);
    }
/* #endregion */

    /* #endregion */

  /* #region iPad Air*/
  @media screen and (min-width:768px) {
    section#hero{
        background: url('../images/hero.webp') no-repeat center center / cover;
      }
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width:fit-content;
    }
    #menu{
        display: flex;
        align-items: baseline;
    }
    #menu > li {
        padding-left:1rem;
        padding-bottom: .7rem;
        font-size:1.2rem;
        font-weight:800;      
    }
    #menu a {
        font-weight: 600;
    }
    /* Disable checkbox  */
    .nav-dropdown-label{display:none;}
    
    header{
        background-color: #fff;
    }
    #logo{
        font-size:240%;
        padding: 0.5rem 0.5rem;
    }
    main{
        margin-top:55px;
        display: flex;
        flex: 1 0 auto;
      } 
    section#about{
        padding:65px 0; 
      }
    #about-container{
        display: flex;
        /* Because this is wide screen  */
        flex-direction: row;
    }
    div.type-content>h4{
        padding-top:70px;
    }
    .content{
        display:flex;
        flex-direction: column;
        padding:10px 10px;
        background-color: #fff;
    }
    .content-image>img {
        height: 667px;
    }
      div#contact-form {
        max-width:90%;
    }
    footer > ul{
        justify-content: space-evenly;    
    }
    #social i{
        font-size: 30px;
        color:rgba(4,85,191, 1);
    }
  }
  /* #endregion */

  /* #region Desktop*/
  @media screen and (min-width:992px){
    #menu a:hover{
        border-bottom: 1px solid #0455BF;
    }
    div#hero-background{
        width:55%;
    }
  }
  /* #endregion */
